/** LESS variables file **/
/**************/
/* Typography */
/**************/
/**********/
/* Colors */
/**********/
/*********************/
/** Global elements **/
/*********************/
/** Body element **/
body {
  margin: 50px 0 0 0;
  padding: 0;
  font-family: 'Calibri', 'Tahoma', sans-serif;
  background-color: #ffffff;
}
/** Navbar **/
.navbar li {
  cursor: pointer;
}
.navbar li:hover {
  background-color: #F1F1F1;
}
/** Side bar **/
.list-group {
  display: inline-block;
}
/*********************/
/** Utility classes **/
/*********************/
/** Vertical align **/
.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
