/** LESS variables file **/
/**************/
/* Typography */
/**************/
/**********/
/* Colors */
/**********/
/*********************/
/** Global elements **/
/*********************/
/** Body element **/
body {
  margin: 50px 0 0 0;
  padding: 0;
  font-family: 'Calibri', 'Tahoma', sans-serif;
  background-color: #ffffff;
}
/** Navbar **/
.navbar li {
  cursor: pointer;
}
.navbar li:hover {
  background-color: #F1F1F1;
}
/** Breadcrumbs **/
.breadcrumbs {
  padding: 0 20px;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li .breadcrumb-spacer {
  padding: 0 5px;
}
.breadcrumbs li:last-of-type a {
  color: #000000;
  cursor: default;
  text-decoration: none;
}
.search-form {
  padding: 0 0 20px 0;
}
/*********************/
/** Utility classes **/
/*********************/
/** Vertical align **/
.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/*******************/
/** Image classes **/
/*******************/
img.product-100 {
  width: 100px;
  height: 100px;
}
img.product-300 {
  width: 200px;
  height: 200px;
}
