<div>
    <!-- Top Navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                {{#link-to 'index' class="navbar-brand"}}Logo{{/link-to}}
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#link-to 'index' tagName='li'}}<a href="#">Home</a>{{/link-to}}
                    {{#link-to 'about' tagName='li'}}<a href="#">About</a>{{/link-to}}
                    {{#link-to 'products' tagName='li'}}<a href="#">Search Products</a>{{/link-to}}
                    {{#link-to 'index' tagName='li'}}<a href="#">Add a Product</a>{{/link-to}}
                </ul>
            </div>
        </div>
    </div>
    {{render 'breadcrumbs'}}

    {{outlet}}

</div>