
<div>
    <h3>{{title}}</h3>
</div>
<div>
    <strong>Price:</strong> {{price}}
</div>
<div>
    <h4>Reviews</h4>
    <ul>
        {{#each review in reviews}}
            <li>{{review.text}}</li>
            {{else}}
            <li>No reviews yet</li>
        {{/each}}
    </ul>
</div>
