<h2 id="title">This is the sandbox</h2>

<div class="row">
    <div class="col-md-2">
        <div id="sidebar" class="list-group">
            {{#each product in model}}
                {{#link-to 'product' product classNames='list-group-item'}}
                    {{product.title}}
                {{/link-to}}
            {{/each}}
        </div>
    </div>
    <div class="col-md-10">
        {{outlet}}
    </div>
</div>


